// Customized Bootstrap variables go here so they override the defaults

// Fonts
$font-family-logo: "Amatic SC", Georgia, Times, serif;
$font-family-heading: Satisfy, Georgia, Times, serif;
$font-family-base: Lato, "Helvetica Neue", Arial, sans-serif;

// Colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$midnight-blue:   #25374a;
$vegetable-green: #3f6e3c;
$tuscan-yellow:   #ffc929;
$cinnamon-red:    #cc3610;
$cedar-brown:     #924e29;


$primary:       $midnight-blue;
$secondary:     $gray-600;
$success:       $vegetable-green;
$info:          $cedar-brown;
$warning:       $tuscan-yellow;
$danger:        $cinnamon-red;
$light:         $gray-100;
$dark:          $gray-800;

$shadow:        3px 3px 10px #000, -3px -3px 20px #000;

// Import fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&text=GittenMabelliunusual');

// Import default Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


// Any sass from here on out overrides default Bootstrap styles
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
    margin-bottom: $spacer;
}

.brand {
    font-family: $font-family-logo;
    word-spacing: 0.2em;
    letter-spacing: -0.05em;
}

// Nav bar
.navbar-brand {
    font-size: 2rem;
}

// Site header
.banner-container {
    background-image: url('../img/home-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 250px 10% 270px;
    // box-shadow: 0px 10px 20px -7px $gray-800;
    .site-title {
        h1,h2 {
            text-align: center;
            font-size: 6rem;
            font-family: $font-family-logo;
            letter-spacing: -5px;
            color:$tuscan-yellow;
            text-shadow: $shadow;
        }
    }
    .site-tag {
        text-align: center;
        padding: 0.5rem;
        margin-top: $spacer;
        background-color: rgba($black, 0.8);
        color: $white;
        font-family: $font-family-heading;
        font-size: 1.5rem;
        p {
            margin:0;
        }
        .unusual {
            font-family: $font-family-logo;
            font-weight: bold;
            text-decoration: overline;
        }
    }
}

// Site footer
.footer {
    background-color: $gray-900;
    color: $light;
    padding: $spacer $spacer * 2 $spacer * 2;
    dl {
        margin: 0;
        @include media-breakpoint-up(sm) {
                margin-left: 50%;
        }
    }
    dt {
        margin-top: $spacer / 2;
    }
    dd {
        margin-left: $spacer;
        margin-bottom: 0;
    }
}




